body {
  background-color: #f0f0f0;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

th {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

.highlight {
  background-color: #2e1ae2;
  font-weight: 900;
}

.modal {
  background-color: rgb(201, 198, 241);
  box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
}


#close-button {
  background-color: rgb(113, 118, 154);
  font-weight: 900;
}

#close-button:hover {
  background-color: rgb(93, 95, 107);
}

#buttons {
  margin-bottom: 1em;
  margin-left: 0.2em;
}
